.paginationContainer {
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.paginationBtn {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    margin: 10px;
    cursor: pointer;
}